* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url('../IMG/banner.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff622442;
    border-radius: 30px;
}

.button-box-cad {
    width: 110px;
    margin: 10px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.button-box-cad2 {
    width: 110px;
    margin: 10px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.toggle-btn-cad {
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-cad {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 70%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box {
    margin: 30px 10px 30px;
}

.chech-box-cad {
    margin: 30px 10px 30px;
}

.span {
    color: #777;
    font-size: 12px;
    bottom: 63px;
    position: absolute;
}

#Login {
    left: 50px;
}

#Register {
    left: 450px;
}

.d-none {
    display: none;
}

.alert {
    color: rgb(255, 25, 25);
    font-size: 0.74rem;
}

.invalid {
    outline: none;
    border-color: rgb(255, 25, 25);
}

.paginas {
    border-radius: 50%;
    display: inline-block;
    height: 9px;
    width: 9px;
    border: 1px solid #dadada;
    background-color: rgba(161, 161, 161, 0);
    cursor: pointer;
}

.color-page {
    background-image: linear-gradient( #ff105f, #ffad06);
}

.group-pages {
    width: 100%;
    text-align: center;
    margin: 2px auto;
    position: relative;
}

#Page {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nav-bar {
    background: #fff;
    padding: 3px 22px;
    box-shadow: 1px 1px 1px black;
}

.nav-item {
    font-size: 17px;
    margin: 30px;
    display: inline-flex;
    list-style: none;
}

.nav-item li {
    cursor: pointer;
    margin-left: 30px;
}

.Logo {
    height: 20px;
    width: 30px;
    margin-top: -12px;
    margin-right: 30px;
}

.active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
}
.login-Btn{
    top: 22px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(#fff, #fff),radial-gradient(circle at top left, #ff105f, #ffad06);
    background-origin: border-box;
    background-clip: content-box,border-box;
    cursor: pointer;
}
.login-Btn span{
    display: block;
    padding: 8px 22px;
}
.container{
    margin-top: 30px;
    left: 30px;
    width: 40%;
    height: 450px;
    position: absolute;
    background: #fff;
    border-radius: 1.7rem;
    padding: 3px;
    box-shadow: 1px 1px 1px black;
}
.textbody{
    margin-top: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#ff105f, #ffad06);
}